<h1>COMMENT</h1>

<%= form_with model: @comments, class: "form" do |f|%>
  <%= f.label :text %>
  <%= f.text_field :text, class: 'form-text-area' %>
  <%= f.submit "Post comment" %>
<% end %>

<div class = "back-btn-holder">
  <button class = "back-btn">
  <%= link_to 'Back', root_path%>
  </button>
</div>