<div class = 'post-by-id'>
  <p>Post #1 by <%= @post.user.name %></p>
  <div class = "comments-likes ">
    <% if @post.comments_counter == nil %>
      <p>Comments: 0</p>
    <% else %>
      <p>Comments: <%= @post.comments_counter %></p>
    <% end %>
    <% if @post.likes_counter == nil %>
      <p>Likes: 0</p>
    <% else %>
      <p>Likes: <%= @post.likes_counter %></p>
    <% end %>
  </div>
  <p class = 'post-by-id-post'><%= @post.text %></p>
</div>
<div>
  <ul class="list-comments" >
  <% @post.comments.each do |comment| %>
    <li>
        <%= comment.user.name %>:
        <%= comment.text %>
    </li>
  <% end %>
  </ul>
</div>